<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="lokalite.android.app" android:versionCode="1" android:versionName="1.0">

	<!-- The application requires the following permissions -->
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.VIBRATE" />
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
	<uses-permission android:name="android.permission.ACCESS_CHECKIN_PROPERTIES" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

	<!-- Defining all the activities in Lokalite's Android App -->
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<!-- Uses the Google Android Map library -->
		<uses-library android:name="com.google.android.maps" />
		
		<!-- This is the default starting activity of Lokalite's Android App -->
		<activity android:name=".LokaliteHomePage" android:label="Lokalite" android:launchMode="singleTop">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				<category android:name="android.intent.category.DEFAULT" />
			</intent-filter>
		</activity>
		
		<!-- These are the other activities of Lokalite's Android App -->
		<activity android:name=".LokaliteAndroidMain" android:label="@string/app_name" android:launchMode="singleTop" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".Settings" android:label="@string/settings" android:launchMode="singleTop" android:configChanges="orientation" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".OrganizationCat" android:label="@string/organizationcat" android:launchMode="singleTop" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".OrganizationTabHost" android:label="@string/organizationdir" android:launchMode="singleTop" android:configChanges="orientation|screenLayout|keyboardHidden" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".EventsCat" android:label="@string/eventcat" android:launchMode="singleTop" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".EventTabHost" android:label="@string/eventlist" android:launchMode="singleTop" android:configChanges="orientation|screenLayout|keyboardHidden" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".About" android:label="@string/about" android:launchMode="singleTop" android:configChanges="orientation|screenLayout|keyboardHidden" android:theme="@style/CustomTheme"></activity>
		<activity android:name=".Mapper" android:theme="@android:style/Theme.NoTitleBar" android:launchMode="singleTop" android:configChanges="orientation|screenLayout|keyboardHidden"></activity>
		<activity android:name=".ProfileTabHost" android:label="@string/profile" android:launchMode="singleTop" android:configChanges="orientation|screenLayout|keyboardHidden" android:theme="@style/CustomTheme"></activity>
		<receiver android:name=".LokaliteNotification" />
		
		<!-- Defining the minimum SDK version -->
		<uses-sdk android:minSdkVersion="7" />
	</application>
</manifest> 